.tableOrder {
	width: 100%;
	@include border-radius(10px);
	border: 1px solid #cbd3da;
	border-collapse: separate;
	border-spacing: 0;
	@import "_thead";
	@import "_tableRow";
}
@media only screen and (max-width: 768px) {
	.ODPages, .ODTime {
		display: none;
	}
	.headUlTabs {
		.checkboxx {
			display: none;
		}
		.filters.date {
			@include border-top-right-radius(10px);
		}
	}
	.orderDescr:last-child {
		.ODBids {
			@include border-bottom-right-radius(10px);
		}
	}
}
@media only screen and (max-width: 480px) {
	.headUlTabs {
		.filters.date {
			display: none;
		}
		.filters.ammount {
			@include border-top-right-radius(10px);
		}
	}
	.ODBids {
		display: none;
	}
	.orderDescr:last-child {
		.ODTopic {
			@include border-bottom-right-radius(10px);
		}
	}
	.tableOrder thead tr td.subject {
		width: 35%;
	}
	.tableOrder thead tr td.deadline {
		width: 40%;
	}
	.tableOrder thead tr td.ammount {
		width: 25%;
	}
}