thead {
	background: #cce9fb;
	tr {
		td {
			height: 65px;
			font: normal 14px 'Nunito';
			border-left: 1px solid #a0c8e1;
			border-bottom: 1px solid #a0c8e1;
			vertical-align: middle;
			color: #5e7786;
			&:first-child {
				border-left: 0;
				@include border-top-left-radius(10px);
			}
			&:last-child {
				@include border-top-right-radius(10px);
			}
			.innerCenterWrap {
				width: 83%;
				margin: 0 auto;
				.selectedItem {
					float: right;
					color: #299cb6;
					font: normal 14px 'Nunito';
					cursor: pointer;
					&:after {
						content: "";
						display: inline-block;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 5px 3.5px 0 3.5px;
						border-color: #299cb6 transparent transparent transparent;
						margin: 0 0 0 5px;
						position: relative;
						top: -2px;
					}
					&:hover {
						color: darken(#299cb6, 10%);
						text-decoration: underline;
					}
				}
			}
			&.subject {
				width: 27%;
			}
			&.deadline {
				width: 19%;
				.innerCenterWrap {
					width: 90%;
				}
			}
			&.ammount {
				width: 17.5%;
			}
			&.date {
				width: 11%;
				.innerCenterWrap {
					width: 90%;
				}
			}
			&.checkboxx {
				width: 25.5%;
				text-align: center;
			}
		}
	}
}