.footerRCB {
	.text {
		font: normal 14px 'Nunito';
		color: #565e71;
		text-align: center;
		a {
			color: #489ed5;
			text-decoration: none;
			&:hover {
				color: darken(#489ed5,10%);
				text-decoration: underline;
			}
		}
	}
	
}