@import "./home/_form";

@import "_head";
@import "_body";
@import "_footer";
.registerContent {
	padding: 50px 0;
}
.registerContentBlock {
	width: 99%;
	border: 1px solid #89b6d0;
	@include box-shadow(0 0 3px #b2b2b2);
	@include border-radius(10px);
	background: #fff;

	input[type="text"],
	.select-wrapper {
		width: 290px;
		select,
		span.select {
			width: 290px;
		}
		&.until {
			width: 85px;
			select,
			span.select {
				width: 85px;
			}
		}
	}
	.descriptionBox {
		width: 290px;
		height: 120px;
	}
}
@media only screen and (max-width: 480px) {
	.registerContentBlock {
		input[type="text"],
		.select-wrapper {
			width: 250px;
			select,
			span.select {
				width: 250px;
			}
			&.until {
				width: 85px;
				select,
				span.select {
					width: 85px;
				}
			}
		}
		.descriptionBox {
			width: 250px;
			height: 120px;
		}
	}
	
}