.aboutUs {
	padding: 0 0 40px 0;
	border-bottom: 1px solid #cbd3da;
}
.aboutUsList {
	$aboutUsPath : '../img/aboutUsIco.png';
	$aboutUs: (
		1 : (0, 53px, 43px),
		2 : (-48px, 45px, 45px),
		3 : (-98px, 43px, 46px),
	);
	li {
		h3 {
			font: normal 30px 'Nunito';
			color: #435b71;
			padding: 0 0 0px 65px;
			margin: 20px 0;
		}
		p {
			font: normal 14px 'Nunito';
			color: #5b6f81;
		}
	}
	@each $key, $value in $aboutUs {
		$bg-position-y: nth($value, 1);
		$width: nth($value, 2);
		$height: nth($value, 3);
		& li:nth-child(#{$key}) h3 {
			background: url($aboutUsPath) no-repeat;
			background-position: 0 $bg-position-y;
			height: $height;
			line-height: $height;
		}
	}
}