$socialIcoPath : '../img/socialIco.png';
$socialIco: (
	fb : (0, 32px, 32px),
	gplus : (-37px, 32px, 32px),
	ln : (-74px, 32px, 32px)
);
.socialButtons {
	display: table;
	margin: 0 auto;
	padding: 50px 0;
	li {
		display: inline-block;
		margin: 0 0 0 33px;

		@each $key, $value in $socialIco {
			$bg-position-y: nth($value, 1);
			$width: nth($value, 2);
			$height: nth($value, 3);
			&.#{$key} a {
				display: block;
				background: url($socialIcoPath) no-repeat;
				background-position: 0 $bg-position-y;
				width: $width;
				height: $height;
				opacity: 0.6;
				@include transition(opacity 0.3s);
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

	