.tooltipAction {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 18px;
	border: 1px solid #96c8e6;
	@include border-radius(50%);
	background: #dfecf3;
	@include transition(background 0.3s);
	cursor: pointer;

	font: normal 13px/20px 'Nunito';
	text-align: center;
	color: #7cb7da;
	.tooltip {
		display: none;
		position: absolute;
		left: -50px;
		top: 30px;
		padding: 10px;
		min-width: 100px;
		max-width: 300px;
		
		background: #f9f9f9;
		border: 1px solid #88b3cd;
		@include border-radius(10px);

		font: normal 11px 'Nunito';
		text-align: left;
		color: #5a6167;

		z-index: 99;
		&:after, &:before {
			bottom: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&:after {
			border-color: rgba(249, 249, 249, 0);
			border-bottom-color: #f9f9f9;
			border-width: 8px;
			margin-left: -8px;
		}
		&:before {
			border-color: rgba(136, 179, 205, 0);
			border-bottom-color: #88b3cd;
			border-width: 9px;
			margin-left: -9px;
		}
	}
	&:hover {
		background: #fff;
		.tooltip {
			display: block;
		}
	}
	&.request {
		vertical-align: top;
		position: relative;
		top: 6px;
		margin: 0 0 0 10px;
	}
}
@media only screen and (max-width: 480px) {
	.tooltipAction {
		&.request {
			.tooltip {
				width: 200px;
				left: -233px;
				top: -37px;
				&:after, &:before {
					left: 100%;
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}

				&:after {
					border-color: rgba(249, 249, 249, 0);
					border-left-color: #f9f9f9;
					border-width: 8px;
					margin: -8px 0 0 0;
				}
				&:before {
					border-color: rgba(136, 179, 205, 0);
					border-left-color: #88b3cd;
					border-width: 9px;
					margin: -9px 0 0 0;
				}
			}
		}
	}
}