.sendMessageToWritersBtn {
	display: table;
	margin: 0 auto;
	@include box-sizing(border-box);
	position: relative;

	width: auto;
	height: 40px;

	padding: 0 40px;
	
	border-bottom: 2px solid #7ea83e;
	@include border-radius(10px);
	
	background: #97ca4b;
	@include transition(background 0.3s);

	color: #fff;
	font: normal 16px/40px 'Nunito';
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	&:hover {
		background: darken(#97ca4b,10%);
		border-bottom: 2px solid darken(#7ea83e,10%);
	}
	&:active {
		background: darken(#97ca4b,20%);
	}
}
.acceptBidBtn {
	display: table;
	margin: 0 auto;
	@include box-sizing(border-box);
	position: relative;

	width: auto;
	height: 34px;
	
	padding: 0 10px;

	border-bottom: 2px solid #d8a205;
	@include border-radius(5px);

	background: #f3bb17;
	@include transition(background 0.3s);

	color: #304f61;
	font: normal 13px/34px 'Nunito';
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	&:hover {
		background: darken(#f3bb17,10%);
		border-bottom: 2px solid darken(#d8a205,10%);
	}
	&:active {
		background: darken(#f3bb17,20%);
		color: #fff;
	}
}
.markBtn {
	display: block;
	@include box-sizing(border-box);
	float: right;
	
	width: auto;
	height: 35px;

	padding: 0 20px;

	border-bottom: 2px solid #649fc2;
	@include border-radius(15px);

	background: #79b9de;
	@include transition(background 0.3s);

	color: #fff;
	font: normal 14px/35px 'Nunito';
	text-align: center;
	text-decoration: none;
	&:hover {
		background: darken(#79b9de, 10%);
		border-bottom: 2px solid darken(#649fc2, 10%);
	}
	&:active {
		background: darken(#79b9de, 20%);
		border: 0;
	}
}

.sendChatMess {
	background: #a4d465;
	@include transition(background 0.3s);

	display: block;
	float: right;
	padding: 0 14px;
	height: 33px;
	@include box-sizing(border-box);

	border: 0;
	outline: 0;
	border-bottom: 2px solid #88b054;
	@include border-radius(4px);

	font: normal 13px/33px 'Nunito';
	color: #fff;
	@include text-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
	cursor: pointer;
	
	&:hover {
		background: darken(#a4d465,10%);
		border-bottom: 2px solid darken(#88b054, 10%);
	}
	&:active {
		background: darken(#a4d465,20%);
		border: 0;
	}
}

//@todo this button

.closeChatBMB {
	display: none;
}