.bidsBMB {
	.jspVerticalBar {
		left: 0;
		background: #cce9fb;
		width: 34px;
		@include box-sizing(border-box);
		@include box-shadow(2px 0px 2px 0px rgba(0, 0, 0, 0.25));
	}
	.jspTrack {
		width: 11px;
		margin: 0 auto;
		background: #fff;
		@include border-radius(10px);
	}
	.jspDrag {
		background: #79b9de;
		@include border-radius(10px);
	}
	.jspPane {
		margin: 0 0 0 35px !important;
		.bidItemsWrapBMB {
			width: 293px;
		}
	}
	.scrollPane {
		width: 100%;
		height: 200px;
		overflow: auto;
	}
	.jspArrow {
		background: #cce9fb;
		&.jspDisabled {
			background: #cce9fb;
		}
	}
	@media only screen and (max-width: 480px) {
		.jspPane{
			.bidItemsWrapBMB {
				width: auto;
			}
		}
	}
}
.bidChatBMB {
	.jspContainer {
	}
	.jspVerticalBar {
		padding: 0 10px;
		background: #fff;
		width: 10px;
	}
	.jspTrack {
		background: #e1e8ec;
		@include border-radius(10px);
	}
	.jspDrag {
		background: #89b6d0;
		@include border-radius(10px);
	}
	.jspArrow {
		background: #fff;
		&.jspDisabled {
			background: #fff;
		}
	}
}