.dropdownBasic {
	position: absolute;
	background: #fff;
	z-index: 9;
	padding: 5px 10px;
	min-width: 165px;
	@include box-sizing(border-box);
	border: 1px solid #bbbbbb;
	@include border-radius(5px);
	margin: 15px 0 0 0;
	ul {
		li {
			text-align: center;
			a {
				font: normal 14px 'Nunito';
				color: darken(#5e7786,10%);
				text-decoration: none;
				&:hover {
					color: darken(#5e7786,20%);
					text-decoration: underline;
				}
			}
		}
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 8px 11px 7px;
		border-color: transparent transparent #bbbbbb transparent;
		top: -11px;
		left: 50%;
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 7px 10px 7px;
		border-color: transparent transparent #ffffff transparent;
		top: -9px;
		left: 50%;
	}
	&.bigMod {
		&:before,
		&:after {
			left: 40%;
		}
	}
	&.type-list {
		// hardfix
		width: 245px;
	}
}
.ddInputList {
	text-align: left;
	margin: 15px 0 0 0;
	&.available {
		height: 200px;
		overflow-y: scroll;
		width: 510px;
	}
}
.dropdownDoneBtn {
	float: right;
	display: block;
	width: 78px;
	height: 20px;
	margin: 2px;
	border: 1px solid #333;
	@include border-radius(5px);
	cursor: pointer;
	text-align: center;
}
.col-a, 
.col-b, 
.col-c, 
.col-d {
	display: inline-block;
	width: 190px;
	margin: 0 0 0 35px;
	line-height: 30px;
}
@media only screen and (max-width: 768px) {
	.dropdownBasic {
		&.date {
			margin: 15px 0 0 -70px;
			&:before,&:after {
				left: 80%;
			}
		}
		&.type-list {
			margin: 15px 0 0 -70px;
			width: 245px;
			.ddInputList {
				height: 250px;
				overflow-y: scroll;
			}
			&:before,&:after {
				left: 77%;
			}
		}
	}
}
@media only screen and (max-width: 480px) {
	.col-a, 
	.col-b, 
	.col-c, 
	.col-d {
		display: block;
	}
	.ddInputList.available {
		height: 250px;
		width: auto;
	}
	.dropdownBasic {
		&.bigMod {
			&:after,
			&:before {
				left: 45%;
			}
		}
		&.type-list {
			margin: 15px 0 0 -150px;
			&:after,
			&:before {
				left: 85%;
			}
			.ddInputList {
				height: 250px;
				overflow-y: scroll;
			}
		}
	}
}