.headLine {
	background: #fff;
	border-bottom: 1px solid #aeb1b2;
	.headLine-1 {
		font: 300 30px 'Nunito';
		color: #435b71;
		padding: 22px 0;
	}
	.headLine-3 {
		float: right;
		display: table;
		color: #435b71;
		font: normal 14px 'Nunito';
		margin: 30px 0 0 0;
		span {
			font: 600 18px 'Nunito';
		}
	}
}