//two column
.twoColumnContent {
	width: 100%;
	display: table;
	padding: 33px 0 0 0;
}
.leftContent {
	display: table;
	width: 65.3%;
	min-width: 580px;
	float: left;
}
.sideBar {
	width: 296px;
	float: right;
}
.titleBase {
	font: 300 30px/1.5em 'Nunito', sans-serif;
	color: #435b71;
	text-align: left;
	&.withSeparator {
		padding: 45px 0 35px 0;
		margin: 2px 0 0 0;
		border-top: 1px solid #cbd3da;
	}
}
@media only screen and (max-width: 768px) {
	.sideBar {
		width: auto;
		float: none;
		position: relative;
		padding: 0 0 30px 0;
		border-bottom: 1px solid #cbd3da;
	}
	.leftContent {
		width: 100%;
		border-top: 1px solid #cbd3da;
		padding: 25px 0 0 0;
		margin: 2px 0 0 0;
	}
}
@media only screen and (max-width: 480px) {
	.leftContent {
		min-width: 0;
	}
	.titleBase {
		&.withSeparator {
			padding: 20px 0 10px 0;
		}
	}
}