.errorText {
	font: normal 12px 'Nunito';
	color: #bf6a31;
}
input[type="text"].invalidInput,
input[type="password"].invalidInput {
	border: 1px solid #bf6a31;
	box-shadow: 0 0 3px #bf6a31;
}
//client order/register page
.formTableUH {
	.errorText {
		padding: 0 10px 10px 0px;
	}
}
//homepage
.formBlockUH {
	.errorText {
		padding: 0 10px 0 90px;
	}
}