input[type="text"],
input[type="date"],
input[type="password"] {
	color: #5b6f81;
	border: 1px solid #bebebe;
	@include border-radius(5px);
	@include box-sizing(border-box);
	height: 32px;
	padding: 0 10px;
	font: normal 13px 'Nunito';
	&:focus {
		outline: 0;
		border: 1px solid #60acd8;
		box-shadow: 0 0 3px #60acd8;
	}
}