.topWritersBlock {
	margin-top: 18px;
}
.itemTopWriters {
	width: 294px;
	display: table;
	margin-bottom: 12px;
}
.imgWrapITW {
	display: block;
	position: relative;
	width: 110px;
	height: 106px;
	float: left;
	padding-top: 5px;
	border-bottom: 2px solid #acacac;
	@include border-radius(10px);
	background: #c7c6c7;
	@include box-shadow(0 1px 2px #E0E0E0);
	text-align: center;
	img {
		@include border-radius(10px);
	}
}
.rightBlockITW {
	width: 172px;
	float: right;
	color: #7c859a;
	font: normal 14px 'Nunito';
}
.nameITW {
	display: inline-block;
	margin-top: 5px;
	font: 300 14px/1.5em 'Nunito', sans-serif;
	color: #299bb6;
	text-decoration: none;
}
@media only screen and (max-width: 768px) {
	.topWritersBlock {
		display: table;
		width: 100%;
	}
	.itemTopWriters {
		width: 25%;
		display: table-cell;
		float: none;
	}
	.rightBlockITW {
		width: 150px;
	}
}
@media only screen and (max-width: 480px) {
	.itemTopWriters {
		width: 150px;
		display: inline-block;
	}
}